<div class="box">
  <header>
    <h1><%= @balance.cc_name %></h1>
  </header>

  <header>
    <h2><%= @issue.name %></h2>
  </header>

  <header>
  	<%= link_to "Edit Issue", [:edit, @balance, @issue], class: "update" %>      	
  </header>

  <header>
  	<%= link_to "Delete Issue",
      [@balance, @issue],
      method: :delete,
      data: { confirm: "Are you sure you want to delete this issue?" },
      class: "remove" %>
  </header>

  <%= simple_format(@issue.description) %>
</div>