<% title(@balance.cc_name, "Balances") %>

<h2 class="subtitle"><%= @balance.cc_name %></h2>

<div class="box">
  <p><%= @balance.cc_balance %></p>
  <p><%= @balance.cc_due_date %></p>
  <%= link_to icon("fas", "edit", "Edit CC Balance"), edit_balance_path(@balance),
      class: "button is-info" %>
  <%= link_to icon("fas", "trash", "Delete CC Balance"),
      balance_path(@balance),
      method: :delete,
      data: { confirm: "Are you sure you want to delete this CC Balance info?" },
      class: "button is-danger" %>
</div>
