<% title(@balance.cc_name, "Balances") %>

<header>
  <h2 class="subtitle"><%= @balance.cc_name %></h2>
</header>

<div class="box">
  <p><%= @balance.cc_balance %></p>
  <p><%= @balance.cc_due_date %></p>
  <%= link_to "Edit CC Balance",
      edit_balance_path(@balance),
      class: "update" %>
  <%= link_to "Delete CC Balance",
      balance_path(@balance),
      method: :delete,
      data: { confirm: "Are you sure you want to delete this CC Balance info?" },
      class: "remove" %>
</div>
